        #pageFont{
        font-family: arial;}
        
        .backgroundImage{
        background-image: url("phonelaptop.jpg");
        background-size: 1920px 1080px;
        background-repeat: no-repeat;
        background-position: center;}
        
        h3{
        text-align: center;}
        
        .ContactInfo{
        /*
        background: white;
        color:black;
        font-weight: bold;
        text-align: left;
        */
        text-align: center;
        background: pink;}

        .informationFields{
        margin-top: 30px;}
        
        .locationPin{
        margin-left: 750px;
        margin-right: 150px;
        text-align: right;}
        
        #messageField{
        width: 360px;
        height: 150px;}
        
        #submitField{
        color:white;
        border: 1px;
        padding: 5px;
        margin-top: 10px;
        margin-left: 170px;
        width: 190px;
        background: #3399ff;
        font-size: 19;
        font-weight: bold;}
        
        .Footer1{
        background: #0066cc;
        color: white;
        font-size: 30;
        text-align: center;
        margin: auto;}
        
        .footerBoxes{
        font-size: 18;
        padding-left: 93px;
        float: left;
        text-align: left;
        margin-left: 675px;}
        
        .footerContactInfo{
        font-size: 18;
        text-align: left;
        margin-right: 600px;
        margin-left: 1036px;}
        
        .Footer2{
        background: #003399;
        color: white;
        text-align: center;
        padding: 5px;
        font-size: 13;}
