        #breadcrumbs{
        float:left;
        font-weight: bold;
        text-align: center;}
        
        .Whitespace{
        padding-right: 150px;}
        
        .Whitespace2{
        padding-right: 85px;}

        .Whitespace3{
        padding-right: 15px;}

        .backgroundImage{
        background-image: url("phonelaptop.jpg");
        background-size: 1920px 1080px;
        background-repeat: no-repeat;
        background-position: center;}

        .contactTitle{
        text-align: left;
        padding-top: 40px;
        padding-left: 40px;
        padding-bottom: 30px;
        color: white;
        font-size: 30;
        background: rgb(34,167,211);
        /*margin-right: 300px;
        margin-left: 300px;*/}

        .ContactInfo{
        clear: inherit;
        background: rgb(34,167,211);
        color:white;
        text-align: left;
        padding-left: 40px;
        padding-bottom: 40px;
        /*margin-right: 300px;
        margin-left: 300px;*/}
    
        .informationFields{
        margin-top: 30px;
        margin-right: 940px;}
        
        #nameField{
        border-radius: 0;
        line-height: 5px;
        width: 500px;
        height:35px;}

        #topicField{
        border-radius: 0;
        line-height: 5px;
        width: 500px;
        height:35px;}
        
        #mailField{
        border-radius: 0;
        line-height: 5px;
        width: 500px;
        height:35px;}

        #phonenumberField{
        border-radius: 0;
        line-height: 5px;
        width: 500px;
        height:35px;}
        
        #messageField{
        border-radius: 0;
        line-height: 5px;
        width: 1000px;
        height: 150px;
        padding-bottom: 120px;
        maxlength:10;}        
        
        .locationPin{
        margin-left: 750px;
        margin-right: 150px;
        text-align: right;}
        
        .checkboxesMail{
        font-family: arial;
        text-align: left;
        font-weight: bold;
        font-size: 20;}
        
        #submitField{
        border-radius: 0px;
        background: rgb(26,118,209);
        color:white;
        padding: 10px 100px 10px 100px;
        text-align: center;

        margin-top: 10px;
        /*margin-left: 170px;*/
        width: 190px;
        font-size: 20;
        font-weight: bold;}
        
        .FAQ{
        font-size: 50;
        font-family: arial;
        font-weight: bold;}
        
        .FAQList{
        font-family: arial;
        padding-top: 30px;
        text-align: left;}
        
        .menuFooter{
        float:left;
        padding-left: 450px;
        margin-right: -500px}
        
        .contactFooter{
        margin-right: 400px;    
        margin-left: 10px;}
       
       /* 
        .sectionFooter{
            margin-left: 1000px;
            margin-right: 1000px;}        
        */
       
        .Footer1{
        background: #0066cc;
        color: white;
        font-size: 30;
        padding-top: 40px;
        padding-bottom: 60px;
        text-align: center;
        margin-top: -13px;}
        
        .footerBoxes{
        line-height: 80%; 
        font-weight: bold;
        font-size: 18;
        padding-top: 10px;
        padding-left: 93px;
        float: left;
        text-align: left;
        margin-left: 358px;
        }
        
        .footerContactInfo{
        line-height: 80%;
        font-weight: bold;
        font-size: 18;
        text-align: left;
        margin-right: 600px;
        margin-left: 715px;
        padding-top: 10px;
        }
        
        .Footer2{
        background: #003399;
        color: white;
        text-align: center;
        padding: 5px;
        font-size: 15;
        font-weight: bold;
        font-family: arial;}